body {
    font-family: sans-serif;
    font-size: 68%;
}
h1,h2,h3,p,ul,ol {
    margin:0;
    padding: 0 0 8px 0;
}
pre {
    background-color: #ffffe0;
    border: 2px dashed #888;
    color: #000;
    display: inline-block;
    font-size: 1em;
    margin: 0 0 8px 0;
    padding: 8px 12px;
}