/*
    Document   : scrollToTop
    Created on : 3 juil. 2012, 14:50:46
    Author     : Jeremy D Noe
*/


.backtotopinstance{
    position: fixed;
    width: 70px;
    right: 20px;
    bottom: 20px;
	background-image: url('image/Fond-rouge.jpg');
    background: #FFC107;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 3px 3px;
    padding: 10px 10px;
}

