            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="index.php"><i class="fa fa-home"></i> Acceuil</a>
                    </li>
                    <li>
					<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-list"></i> Actualité <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="./list_actualite.php">List d'actualité</a>
                            </li>
                            <li>
                                <a href="./ajout_actualite.php">Ajout actualité</a>
                            </li>
                        </ul>
                    </li>
					<li>
					<a href="javascript:;" data-toggle="collapse" data-target="#demo3"><i class="fa fa-users"></i> Equipe <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo3" class="collapse">
                            <li>
                                <a href="./list_equipe.php">List d'équipe</a>
                            </li>
                            <li>
                                <a href="./ajout_equipe.php">Ajout membre</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
					 <a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-fw fa-music"></i> Music <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo2" class="collapse">
                            <li>
                                <a href="./list_music.php">List musique</a>
                            </li>
                            <li>
                                <a href="./ajout_music.php">Ajout musique</a>
                            </li>
                        </ul>
                    </li>
                    <li>
					<a href="javascript:;" data-toggle="collapse" data-target="#demo4"><i class="fa fa-microphone"></i> Podcast <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo4" class="collapse">
                            <li>
                                <a href="./list_podcast.php">List podcast</a>
                            </li>
                            <li>
                                <a href="./ajout_podcast.php">Ajout podcast</a>
                            </li>
                        </ul>
                    </li>
                   <li>
					<a href="javascript:;" data-toggle="collapse" data-target="#demo5"><i class="fa fa-envelope"></i> NewsLettre <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo5" class="collapse">
                            <li>
                                <a href="./list_news.php">List abonnées</a>
                            </li>
                            <li>
                                <a href="./envoi_news_all.php">Envoi News</a>
                            </li>
                        </ul>
                    </li>
                   
                   
                    <li>
                        <a href="ajout_sondage.php"><i class="fa fa-percent"></i> Sondage</a>
                    </li>
                </ul>
            </div>