						<div class="panel panel-primary">
                            <div class="panel-heading">
                                Qui Somme nous?
								
							</div>
							<div class="panel-footer">
							    <div class="row">
									
										<a href="../presentation.php">   
										    <img src="image/sf.jpg" width="180px" height="100px" style="position:center">
										</a>
									
								</div>
							    <br/>
							    <div class="row">
							  <div style="padding-left:20px"><b> SMS FM </b>est un radio constitué par un jeune équipe, motivée et bénévole. Il est orienté vers un public jeune </div>
								</div>
							</div>
							<a href="page_presentation.php">
                                <div class="panel-footer">
                                    <span class="pull-left">Voir Détails</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
						</div>
											
										<div><p></p></div>